.showContactList {
  background-color: $formBackgroundColor;
  padding: $formPadding;
  margin: 15px;
  width: $formWidth;

  h2 {
    @include heading;
  }

  th {
    @include subHeading;
    width: $inputWidth;
    padding-right: $formPadding;
  }
}
