//images
$imageCover: url(https://i.imgur.com/GhzHysP.jpg);

//dimensions
$formWidth: 80%;
$formPadding: 20px;
$inputWidth: 300px;

//colors
$formBackgroundColor: rgba(255, 255, 255, 0.9);
$secondaryColor: rgb(75, 75, 75);
$accentColor: rgb(77, 223, 125);

//font
$fontParagraph: "Lato", sans-serif;
