//images
$imageCover: url(https://i.imgur.com/GhzHysP.jpg);

//dimensions
$formWidth: 850px;
$formPadding: 10px;
$inputWidth: 225px;
$inputPaddingRight: 10px;

//colors
$formBackgroundColor: rgba(255, 255, 255, 0.9);
$secondaryColor: rgb(75, 75, 75);
$accentColor: rgb(222, 62, 214);

//font
$fontParagraph: Arial, Helvetica, sans-serif;
